*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar{
	width: 8px;
	background: transparent;
}
::-webkit-scrollbar-thumb{
	background: #777;
	border-radius: 1rem;
}
::selection{
	color: #FFF;
	background: #222;
}
html{
	min-height: 100vh;
	background: -webkit-radial-gradient(
		center,
		#D5E0E0,
		#C2C5C5,
		#A5AFAF,
		#909595,
		#506060);
}
#root{
	max-width: 70%;
	height: 100vh;
	margin: 0 auto;
	padding: 2em;
}
#interface{
	width: 100%;
	background: #5F6262;
	background: -webkit-radial-gradient(
		center,
		#7F8282,
		#6F7272,
		#5F6262,
		#4F5252);
	height: calc(100vh - 4em);
	overflow: auto;
	border-radius: 2px;
	box-shadow:
		6px 6px 5px rgba(50,50,50,.25),
		inset -12px 12px 24px rgba(50,50,50,.1);
}
.header{
	width: 100%;
	height: 250px;
}
.flex-box{
	width: 100%;
	display: flex;
}
.flex-left{
	width: 40%;
	height: 250px;
	background: #C0C5C5;
	background: -webkit-radial-gradient(
		top right,
		#DDF0F0,
		#C0C5C5,
		#A0B0B0);
	transform: scale(1.05,1.05) translate(-1rem,-1rem) skew(0deg,-4deg);
	box-shadow:
		8px 0 4px rgba(50,50,50,.25),
		4px 4px 4px rgba(50,50,50,.25);
}
.flex-right{
	width: 60%;
	height: 250px;
	padding: 3em;
	color: #FFF;
	font-family: 'Roboto Slab', serif;
	font-family: 'Noto Sans SC', sans-serif;
	position: relative;
}
hgroup h1{
	font-size: 2.2em;
	letter-spacing: 9px;
	text-shadow: 2px 2px 2px rgba(0,0,0,.5);
	line-height: 1.2em;
}
hgroup h2{
	font-size: 1em;
	letter-spacing: 3.2px;
}
hgroup h3{
	margin: 1em 0 0;
	font-size: .8em;
	font-family: 'Advent Pro', sans-serif;
	font-weight: lighter;
	text-align: center;
}
.grid{
	width: 100%;
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: 1fr;
	font-size: .9em;
	font-family: 'KoHo', sans-serif;
}
.grid > div{
	padding: 1.5em;
	height: calc(100vh - 4em - 259px);
	overflow-y: auto;
}
.grid-left{
	background: url(../media/wallpaper.png);
	background-position: center;
	background-size: 10rem auto;
	color: #FFF;
	box-shadow:
		inset 0 0 500px rgba(25,25,25,.5),
		inset 0 0 500px rgba(25,25,25,.5),
		inset 0 0 500px rgba(25,25,25,.5),
		6px 6px 4px rgba(0,0,0,.4);
	z-index: 2;
}
.grid-right{
	background: #FFF;
}
#g-r-fill{
	width: 100%;
	position: absolute;
	bottom: 0%;
	right: 0;
}
#profile-picture{
	max-height: 170px;
	transform: scale(1,1) translate(1rem,1rem) skew(0deg,4deg);
	border-radius: 50%;
	position: absolute;
	left: calc(50% - 85px);
	top: calc(50% - 85px);
}
.highlight{
	padding: 0 .4rem;
	font-size: 1.5em;
	font-weight: 900;
}
.side-bar-subtitles{
	margin: 3rem .25em .25em;
	font-size: 2em;
	font-weight: 900;
	letter-spacing: 0px;
	text-align: center;
	text-shadow:
		-2px -2px 2px rgba(0,0,0,.5),
		2px 2px 1px rgba(0,0,0,.7);
}
.side-bar-subtitles:nth-child(1){
	margin: 1em .25em .25em;
}
.contact{
	width: 70%;
	margin: 0 auto;
	font-size: 1em;
}
.contact tr{
	line-height: .25em;
}
.contact td:nth-child(even){
	text-align: right;
}
.contact-icons{
	width: 1.2rem;
	margin-top: .4rem;
}
.contact a{
	color: #FFF;
}
.grid-left-ul{
	width: 70%;
	margin: 0 auto;
	list-style: none;
	text-align: left;
}
.skills-bar{
	width: 100%;
	height: 10px;
	margin-bottom: 1em;
	background: -webkit-radial-gradient(
		center,
		#FFF 60%,
		transparent 60%);
	background-size: 10px 10px;
}
.li-side-subinfo{
	margin-bottom: .4em;
	font-size: 1em;
	display: block;
	color: #808080;
	font-style: italic;
}
.sub-title-right{
	padding: .5em 2em;
	font-size: 1.2em;
	color: #FFF;
	text-align: right;
}
.color-subtitle{
	padding: .4em 2em;
	background: #333;
	position: relative;
	border-radius: .25rem;
}
.color-subtitle::before{
	content: '';
	width: 0;
	height: 0;
	border-top: 1em solid transparent;
	border-right: 2em solid #333;
	border-bottom: 1em solid transparent;
	position: absolute;
	top: 0;
	right: 99%;
}
.icon-subtitle-right{
	height: 1em;
	padding: .25em 0 0 1.5em;
}
.main-content-right{
	margin: 1em 1em 2.5em;
	list-style: none;
}
.highlight-li{
	margin-top: 1em;
	color: #000;
	font-size: 1.5em;
	font-weight: 900;
}
.company-li{
	font-size: 1.5em;
	font-weight: 400;
	color: #000;
}
.funciones-li{
	margin-left: 1.4em;
	list-style: square;
}
.fn-highlight{
	font-size: 1.1em;
	font-weight: 600;
	list-style: none;
}
#credits-box,
#downloads{
	color: #FFF;
	font-family: 'Righteous', cursive;
	font-size: .6rem;
	position: fixed;
	right: .5em;
	opacity: .45;
	transition: .4s;
}
#credits-box:hover,
#downloads:hover{
	opacity: 1;
}
#credits-box{
	bottom: .5em;
}
#downloads{
	top: .5em;
}
#credits-box h1,
#downloads h1{
	font-weight: 100;
}
#credits-box a,
#downloads a{
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}
#credits-box:hover,
#downloads:hover{
	color: #FFF;
	cursor: default;
}
#credits-box a:hover,
#downloads a:hover{
	text-decoration: underline;
}
@media all and (max-width: 1280px){
	#root{
		max-width: 75%;
	}
}
@media all and (max-width: 1080px){
	#root{
		max-width: 85%;
	}
}
@media all and (max-width: 768px){
	#root{
		max-width: 100%;
		padding: 1.5em .5em 0;
	}
}
@media all and (max-width: 600px){
	#root{
		max-width: 100%;
		padding: 2em 0 0 0;
	}
	.flex-left{
		width: 50%;
	}
	.flex-right{
		width: 50%;
		padding: 2em 0;
	}
	.grid{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
}
@media all and (max-width: 400px){
	#profile-picture{
		max-height: 130px;
		left: calc(50% - 65px);
		top: calc(50% - 65px);
	}
}
@media all and (max-width: 307px){
	#profile-picture{
		max-height: 100px;
		left: calc(50% - 50px);
		top: calc(50% - 50px);
	}
	.sub-title-right{
		padding: .5em .5em;
		font-size: 1em;
	}
	hgroup h1{
		font-size: 2em;
		letter-spacing: 4px;
	}
}
